@media (max-width: 768px) {
    .masterclass{
        min-height: 30vh;
    }
h1{
    font-size: calc(1.525rem + 3.3vw);
}
    
   

}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.masterclass{
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    
}
h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    padding: 10px;
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;    
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
}
#logo{
    position: absolute;

}
#mouseclick{
    margin-top: 150px;
}
.about{
    text-align: center;
    height: 60vh;
    width: 100vw;
}
.keyboard{    
    height: 50vh;
    width: 100vw;
    position: relative;
}
.services{
    text-align: center;
    color: white;
    font-family:'Montserrat', sans-serif;;
    text-align: center;
    position: absolute;
    height:50vh;
    width: 100vw;
    margin-top: 70px;
}
.services p{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    
}
.tools{  
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  bottom: 150px;
  margin-top: 50px;  
}
.design{
    margin: 10%;
}
.development{
    margin: 10%;
}
.product{
    margin: 10%;
    
}
#special{
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    text-decoration-color: black;

}
.P{
    text-align: center;
}